<form name="form" class="form-horizontal form-validation" ng-controller="sensorController" ng-init="init(sensorInDeviceItem.sensor())">
    <div class="form-group">
        <label class="col-lg-4 control-label">Tipo</label>
        <div class="col-lg-8">
            <input type="text" class="form-control" ng-model="sensorInDeviceItem.sensor().sensorDatasheet().sensorType().name" readonly>            
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">Modelo</label>
        <div class="col-lg-8">
            <input type="text" class="form-control" ng-model="sensorInDeviceItem.sensor().sensorDatasheet().name" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">Rótulo</label>
        <div class="col-lg-8">
            <input name="inputSensorLabel" type="text" class="form-control" ng-model="sensorLabel" ng-model-options="{ debounce: 1000 }" ng-change="changeSensorLabel()" required>
            <span ng-show="form.inputSensorLabel.$touched && form.inputSensorLabel.$invalid">
                Rótulo é requerido
            </span>
        </div>
    </div>
</form>

<div class="line line-dashed b-b line-lg pull-in"></div>

<div data-ng-include=" 'views/sensor/sensorUnitMeasurementScale.html' "></div>

<div ng-show="sensorInDeviceItem.sensor().sensorTempDSFamily">

    <div class="line line-dashed b-b line-lg pull-in"></div>

    <div data-ng-include=" 'views/sensor/sensorTempDSFamily.html' "></div>
    
</div>

<div class="line line-dashed b-b line-lg pull-in"></div>

<div data-ng-include=" 'views/sensor/sensorTrigger.html' "></div>