<div ng-controller="sensorInDeviceController" ng-init="init(deviceItem.deviceSensors.sensorInDevice)">
    
    <!--Teste de Ordenação no Scope do Controller-->
    <div>
        <ul data-as-sortable="dragControlListeners" data-ng-model="sensorInDevice">
            <li data-ng-repeat="item in sensorInDevice" data-as-sortable-item>
                <div as-sortable-item-handle>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="card-title">{{item.sensor().label}}</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <accordion close-others="true"> 
        
        <accordion-group heading="{{sensorInDeviceItem.sensor().label}}" ng-repeat="(sensorInDeviceKey, sensorInDeviceItem) in sensorInDevice">

            <div data-ng-include=" 'views/hardware/sensor/sensor.html' "></div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div data-ng-include=" 'views/hardware/sensor/sensorUnitMeasurementScale.html' "></div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div data-ng-include=" 'views/hardware/sensor/sensorTempDSFamily.html' "></div>

        </accordion-group>

    </accordion>   

</div>