<div ng-controller="sensorInDeviceController" ng-init="init(deviceItem.deviceSensors.sensorInDevice)">
    
    <!--Teste de Ordenação no Scope do Controller-->
    <div>
        <ul data-as-sortable="dragControlListeners" data-ng-model="sensorInDevice" class="sortable-custom-ul panel-group">
            <li data-ng-repeat="item in sensorInDevice" data-as-sortable-item class="panel panel-default">
                <div as-sortable-item-handle class="panel-heading">
                    <h4 class="panel-title">
                        <!--<a href="" class="accordion-toggle">
                            <span>{{item.sensor().label}}</span>
                        </a>-->
                        <span style="font-size:14px;">{{item.sensor().label}}</span>
                    </h4>
                </div>
            </li>
        </ul>
    </div>


    <accordion close-others="true"> 
        
        <accordion-group data-ng-repeat="(sensorInDeviceKey, sensorInDeviceItem) in sensorInDevice">

            <accordion-heading>
                {{sensorInDeviceItem.sensor().label}}
            </accordion-heading>

            <div data-ng-include=" 'views/hardware/sensor/sensor.html' "></div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div data-ng-include=" 'views/hardware/sensor/sensorUnitMeasurementScale.html' "></div>

            <div class="line line-dashed b-b line-lg pull-in"></div>

            <div data-ng-include=" 'views/hardware/sensor/sensorTempDSFamily.html' "></div>

        </accordion-group>

    </accordion>   

</div>