<div ng-controller="sensorTriggerController" ng-init="init(sensorInDeviceItem.sensor())">

    <form name="form" class="form-horizontal form-validation">
        <div class="form-group">
            <label class="col-lg-4 control-label">Gatilhos</label>
            <div class="col-lg-8">
                <button class="btn btn-success" ng-click="add()">Adicionar</button>
            </div>
        </div>
        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th width="100px">Trigger On</th>
                        <th width="100px">Buzzer On</th>
                        <th>Min</th>
                        <th>Max</th>
                        <th width="50px"></th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="(sensorTriggerKey, sensorTriggerItem) in sensorTriggers">
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="sensorTriggerItem.triggerOn"><i></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <div class="checkbox">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="sensorTriggerItem.buzzerOn"><i></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <input type="number" ng-model="sensorTriggerItem.min" />
                        </td>
                        <td>
                            <input type="number" ng-model="sensorTriggerItem.max" />
                        </td>
                        <td>
                            <div class="text-center">
                                <a class="btn btn-danger" href="" aria-label="Delete" ng-click="remove(sensorTriggerItem)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <slider ng-model="sensorTriggerItem.min"
                                    ng-model-range="sensorTriggerItem.max"
                                    floor="-55"
                                    ceiling="125">
                            </slider>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

    

</div>




