<form name="form" class="form-horizontal form-validation" ng-controller="sensorTriggerController" ng-init="init(sensorInDeviceItem.sensor().sensorTriggers)">
    <div class="form-group">
        <label class="col-lg-4 control-label">Gatilhos</label>
        <div class="col-lg-8">
            <!--<select class="form-control m-b"
                    ng-options="item.name for item in sensorTempDSFamilyResolutionView.availables track by item.sensorTempDSFamilyResolutionId"
                    ng-model="sensorTempDSFamilyResolutionView.selected"></select>-->
        </div>
    </div>
</form>