.actionColumn {
    width: 135px !important;
}

table.dataTable tbody tr.selected {
    background-color: #b0bed9;
}

.saldoAnterior {
    position: absolute;
    top: 143px;
    left: 342px;
}

.saldoAnterior div {
    margin-top: -4px;
}

.saldoAnterior label {
    text-align: right;
}

.table-export-buttons{
    margin-top: 0px !important; 
}

#dataTable_filter {
    margin-top: 13px;
}

#dataTable_length {
    margin-top: 13px;
}