<div class="theme-panel hidden-xs hidden-sm">
    <div class="toggler">
    </div>
    <div class="toggler-close">
    </div>
    <div class="theme-options">
        <div class="theme-option theme-colors clearfix">
            <span>
                Cores do Tema
            </span>
            <ul>
                <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default">
                </li>
                <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="Dark Blue">
                </li>
                <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue">
                </li>
                <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey">
                </li>
                <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light">
                </li>
                <li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true" data-original-title="Light 2">
                </li>
            </ul>
        </div>
        <div class="theme-option">
            <span>
                Layout
            </span>
            <select class="layout-option form-control input-sm">
                <option value="fluid" selected="selected">Fluído</option>
                <option value="boxed">Encaixado</option>
            </select>
        </div>
        <div class="theme-option">
            <span>
                Cabeçalho
            </span>
            <select class="page-header-option form-control input-sm">
                <option value="fixed" selected="selected">Fixo</option>
                <option value="default">Padrão</option>
            </select>
        </div>
        <div class="theme-option">
            <span>
                Menu suspenso superior
            </span>
            <select class="page-header-top-dropdown-style-option form-control input-sm">
                <option value="light" selected="selected">Iluminado</option>
                <option value="dark">Escuro</option>
            </select>
        </div>
        <div class="theme-option">
            <span>
                Modo da barra lateral
            </span>
            <select class="sidebar-option form-control input-sm">
                <option value="fixed">Fixo</option>
                <option value="default" selected="selected">Padrão</option>
            </select>
        </div>
        <div class="theme-option">
            <span>
                Menu da barra lateral
            </span>
            <select class="sidebar-menu-option form-control input-sm">
                <option value="accordion" selected="selected">Acordeão</option>
                <option value="hover">Suspenso</option>
            </select>
        </div>
        <div class="theme-option">
            <span>
                Estilo da barra lateral
            </span>
            <select class="sidebar-style-option form-control input-sm">
                <option value="default" selected="selected">Padrão</option>
                <option value="light">Iluminado</option>
            </select>
        </div>
        <div class="theme-option">
            <span>
                Posição da barra lateral
            </span>
            <select class="sidebar-pos-option form-control input-sm">
                <option value="left" selected="selected">Esquerda</option>
                <option value="right">Direita</option>
            </select>
        </div>
        <div class="theme-option">
            <span>
                Rodapé
            </span>
            <select class="page-footer-option form-control input-sm">
                <option value="fixed">Fixo</option>
                <option value="default" selected="selected">Padrão</option>
            </select>
        </div>
    </div>
</div>