.actionColumn {
    width: 135px !important;
}

table.dataTable tbody tr.selected {
    background-color: #b0bed9;
}

.saldoAnterior {
    position: absolute;
    top: 100px;
    left: 300px;
}

.saldoAnterior div {
    margin-top: -4px;
}

.saldoAnterior label {
    text-align: right;
}

