<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@name='DefaultConnection')"
      name="DefaultConnection"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=.\HOMSQLEXPRESS;Initial Catalog=RThomazDb;Integrated Security=False;User ID=sa;Password=b3b3xu!@#;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>

  <appSettings>

    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@key='applicationUrl')"
      key="applicationUrl"
      value="http://hom.rthomaz.com" />
    
    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@key='templateUrl')"
      key="templateUrl"
      value="http://metronicv363.rthomaz.com" />

    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@key='appWebApiUrl')"
      key="appWebApiUrl"
      value="http://localhost:45439" />

    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@key='identityWebApiUrl')"
      key="identityWebApiUrl"
      value="http://localhost:27264" />
    
    <add 
      key="Rollbar.Environment" 
      value="Homologacao" 
      xdt:Transform="Insert"/>

    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@key='Google.ProjectId')"
      key="Google.ProjectId"
      value="877144368005" />

    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@key='Google.WebAppApiKey')"
      key="Google.WebAppApiKey"
      value="AIzaSyBW2m6AUJ5Fdf406htRm61aobuibTorXFM" />
    
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>