<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    
    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@name='DefaultConnection')"
      name="DefaultConnection"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RThomazDbNew1;Integrated Security=False;User ID=sa;Password=b3b3xu!@#;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>    
    
  </connectionStrings>

  <appSettings>

    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@key='applicationUrl')"
      key="applicationUrl"
      value="http://localhost:2125" />
    
    <add 
      xdt:Transform="Replace"
      xdt:Locator="Condition(@key='templateUrl')"
      key="templateUrl" 
      value="http://localhost/metronic_v3.6.3" />

    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@key='appWebApiUrl')"
      key="appWebApiUrl"
      value="http://localhost:45439" />

    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@key='identityWebApiUrl')"
      key="identityWebApiUrl"
      value="http://localhost:27264" />
    
    <add 
      xdt:Transform="Remove" 
      xdt:Locator="Condition(@key='Rollbar.AccessToken')"
      key="Rollbar.AccessToken" />

    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@key='Google.ProjectId')"
      key="Google.ProjectId"      
      value="180201005408" />

    <add
      xdt:Transform="Replace"
      xdt:Locator="Condition(@key='Google.WebAppApiKey')"
      key="Google.WebAppApiKey"
      value="AIzaSyDcDSkIyeAD_6Q0we3QTRS9tE99dYZOb_A" />
    
  </appSettings>  
  
</configuration>