<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="data source=.\SQLEXPRESS;initial catalog=ART.Log;integrated security=false;persist security info=True;User ID=sa;Password=b3b3xu!@#" />
    <commandText value="INSERT INTO Log ([UtcDateTime],[Thread],[Level],[AppDomain],[Module],[Namespace],[Name],[Method],[Line],[Message],[Exception],[Identity],[StackTrace]) VALUES (@log_utcdatetime, @thread, @log_level, @appdomain, @module, @namespace, @name, @method, @line, @message, @exception, @identity, @stacktrace)" />
    <parameter>
      <parameterName value="@log_utcdatetime" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawUtcTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@appdomain" />
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%appdomain" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@module" />
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{callerModule}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@namespace" />
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{callerNamespace}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@name" />
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{callerName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@method" />
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{callerMethod}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@line" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{callerLine}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@identity" />
      <dbType value="String" />
      <size value="256" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%identity" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@stacktrace" />
      <dbType value="String" />
      <size value="8000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{callerStackTrace}" />
      </layout>
    </parameter>
  </appender> 

  <root>
    <level value="ALL" />
    <appender-ref ref="AdoNetAppender" />
  </root>
  
</log4net>