<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="SqlServerAppender" type="ART.Infra.CrossCutting.Logging.SqlServerAppender">
    <bufferSize value="1" />    
  </appender>

  <appender name="ConsoleAppender" type="ART.Infra.CrossCutting.Logging.ConsoleAppender">  
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="SqlServerAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
  
</log4net>