<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="data source=.\SQLEXPRESS;initial catalog=ART.Log;integrated security=false;persist security info=True;User ID=sa;Password=b3b3xu!@#" />
    <commandText value="INSERT INTO Log ([UtcDateTime],[Thread],[Level],[Logger],[AppDomain],[Type],[Method],[Line],[Message],[Exception],[Identity],[StackTraceDetail]) VALUES (@log_utcdatetime, @thread, @log_level, @logger, @appdomain, @type, @method, @line, @message, @exception, @identity, @stacktracedetail)" />
    <parameter>
      <parameterName value="@log_utcdatetime" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawUtcTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@appdomain" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%appdomain" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@type" />
      <dbType value="String" />
      <size value="1000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%type" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@method" />
      <dbType value="String" />
      <size value="500" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%method" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@line" />
      <dbType value="Int32" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%line" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@identity" />
      <dbType value="String" />
      <size value="256" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%identity" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@stacktracedetail" />
      <dbType value="String" />
      <size value="8000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%stacktracedetail" />
      </layout>
    </parameter>
  </appender>

  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="DEBUG" />
      <foreColor value="White" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Blue" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="FATAL" />
      <foreColor value="White" />
      <backColor value="Red, HighIntensity" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline Method: %method %newline appDomain: %appdomain %newline type: %type %newline location: %location %newline line: %line %newline" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="AdoNetAppender" />
    <appender-ref ref="ColoredConsoleAppender" />
  </root>
</log4net>