<script>
        jQuery(document).ready(function () {
            ContaSummaryScript.init();
        });
</script>

<div class="row">
    <div class="col-md-6">
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Contas
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-bordered table-full-width" id="dataTableConta">
                    <thead>
                        <tr>
                            <th>Conta</th>
                            <th>Tipo</th>
                            <th style="text-align: right !important; width:100px !important;">Saldo atual</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Informativo
                </div>
            </div>
            <div class="portlet-body">

            </div>
        </div>
    </div>
</div>