<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = true;
    app.settings.asideDock = true;">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Devices</h1>
    </div>

    <div class="wrapper-md">

        <div ng-controller="espDeviceListController">

            <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>

            <div class="row" ng-repeat="(deviceKey, deviceItem) in devices">

                <div class="col-md-6">

                    <div class="panel panel-default" ng-controller="deviceController" ng-init="init(deviceItem)">
                        
                        <div class="panel-heading font-bold">Device {{deviceKey + 1}}</div>
                        
                        <div class="panel-body">

                            <div data-ng-include=" 'views/hardware/device/device.html' "></div>

                            <div class="line line-dashed b-b line-lg pull-in"></div>

                            <div data-ng-include=" 'views/hardware/device/deviceNTP.html' "></div>

                            <div class="line line-dashed b-b line-lg pull-in"></div>

                            <div data-ng-include=" 'views/hardware/device/deviceSensors.html' "></div>

                            <div data-ng-include=" 'views/hardware/device/sensorInDevice.html' "></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>