<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = true;
    app.settings.asideDock = true;">

    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Devices</h1>
    </div>
    <div class="wrapper-md">

        <div ng-controller="espDeviceListController">

            <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>

            <div class="row" ng-repeat="(deviceKey, deviceItem) in devices">

                <div class="col-md-6" ng-controller="deviceController" ng-init="init(deviceItem)">

                    <div class="panel panel-default">
                        <div class="panel-heading font-bold">Device {{deviceKey + 1}}</div>
                        <div class="panel-body">

                            <form name="formDevice" class="form-horizontal form-validation">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Status</label>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i ng-class="device.isConnected ? 'text-success-dker' : 'text-danger-dker'" class="glyphicon glyphicon-off icon"></i>
                                            </span>
                                            <input type="text" class="form-control" readonly value="{{device.isConnected ? 'On-line' : 'Off-line'}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Última atualização</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" readonly value="{{device.epochTimeUtc == null ? '' : device.epochTimeUtc * 1000 | date:'dd/MM/yyyy HH:mm:ss Z'}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Wifi Quality</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" readonly uppercased ng-model="device.wifiQuality">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Local IP Address</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" readonly uppercased ng-model="device.localIPAddress">
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Rótulo</label>
                                    <div class="col-lg-8">
                                        <input name="inputLabel" type="text" class="form-control" ng-model="labelView" ng-model-options="{ debounce: 1000 }" ng-change="changeLabel()" required>
                                        <span ng-show="formDevice.inputLabel.$touched && formDevice.inputLabel.$invalid">
                                            Rótulo é requerido
                                        </span>
                                    </div>
                                </div>
                                <div class="line line-dashed b-b line-lg pull-in"></div>

                                <fieldset ng-controller="deviceNTPController" ng-init="init(device.deviceNTP())">
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Fuso horário</label>
                                        <div class="col-lg-8">
                                            <select class="form-control m-b"
                                                    ng-options="item.displayName for item in timeZone.availableTimeZones track by item.timeZoneId"
                                                    ng-model="timeZone.selectedTimeZone"
                                                    ng-change="changeTimeZone()"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Update Interval In MilliSecond</label>
                                        <div class="col-lg-8">
                                            <input name="inputUpdateIntervalInMilliSecond" type="number" ng-model="updateIntervalInMilliSecondView" ng-model-options="{ debounce: 1000 }" ng-change="changeUpdateIntervalInMilliSecond()" min="5000" required class="form-control">
                                        </div>
                                        <span ng-show="formDevice.inputUpdateIntervalInMilliSecond.$touched && formDevice.inputUpdateIntervalInMilliSecond.$invalid">
                                            Update Interval In MilliSecond deve ser maior que 5000
                                        </span>
                                    </div>
                                </fieldset>

                            </form>

                            <form name="formDeviceSensors" class="form-horizontal form-validation" ng-controller="deviceSensorsController" ng-init="init(deviceItem.deviceSensors())">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Publish interval in seconds</label>
                                    <div class="col-lg-8">
                                        <input name="inputPublishIntervalInSeconds" type="number" ng-model="publishIntervalInSecondsView" ng-model-options="{ debounce: 1000 }" ng-change="changePublishIntervalInSeconds()" min="5" required class="form-control">
                                    </div>
                                    <span ng-show="formDeviceSensors.publishIntervalInSecondsView.$touched && formDeviceSensors.publishIntervalInSecondsView.$invalid">
                                        Publish Interval In Seconds deve ser maior que 5
                                    </span>
                                </div>
                            </form>

                            <div ng-controller="sensorInDeviceController" ng-init="init(deviceItem.deviceSensors().sensorInDevice())">
                                <tabset justified="true" class="tab-container">
                                    <tab heading="{{sensorInDeviceItem.sensor().label}}" ng-repeat="(sensorInDeviceKey, sensorInDeviceItem) in sensorInDevice">
                                        
                                        <form name="formSensorInDevice" class="form-horizontal form-validation" ng-controller="sensorController" ng-init="init(sensorInDeviceItem.sensor())">
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Rótulo</label>
                                                <div class="col-lg-8">
                                                    <input name="inputSensorLabel" type="text" class="form-control" ng-model="sensorLabel" ng-model-options="{ debounce: 1000 }" ng-change="changeSensorLabel()" required>
                                                    <span ng-show="formSensorInDevice.inputSensorLabel.$touched && formSensorInDevice.inputSensorLabel.$invalid">
                                                        Rótulo é requerido
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                        </form>

                                        <form name="form" class="form-horizontal form-validation" ng-controller="sensorUnitMeasurementScaleController" ng-init="init(sensorInDeviceItem.sensor().sensorUnitMeasurementScale())">                                            
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Unidade de medida</label>
                                                <div class="col-lg-8">
                                                    <select class="form-control m-b"
                                                            ng-options="item.name for item in unitMeasurementView.availables track by item.unitMeasurementId"
                                                            ng-model="unitMeasurementView.selected">
                                                    </select>
                                                </div>
                                            </div>     
                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">País</label>
                                                <div class="col-lg-8">
                                                    <select class="form-control m-b"
                                                            ng-options="item.name for item in countryView.availables track by item.countryId"
                                                            ng-model="countryView.selected">
                                                    </select>                                                    
                                                </div>
                                            </div>
                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Tipo de escala numérica</label>
                                                <div class="col-lg-8">
                                                    <select name="selectNumericalScaleType"
                                                            class="form-control m-b"
                                                            ng-options="item.numericalScaleType().name for item in numericalScaleTypeView.availables track by item"
                                                            ng-model="numericalScaleTypeView.selected"
                                                            required>
                                                    </select>
                                                </div>
                                            </div>                                              
                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Escala</label>
                                                <div class="col-lg-8">
                                                    <select name="selectUnitMeasurementScale"
                                                            class="form-control m-b"
                                                            ng-options="item.numericalScale().name for item in unitMeasurementScaleView.availables track by item.UnitMeasurementId"
                                                            ng-model="numericalScalePrefixView.selected"
                                                            required>
                                                    </select>
                                                </div>
                                            </div>  
                                        </form>

                                    </tab>
                                </tabset>
                            </div>



                            


                            <tabset justified="true" class="tab-container">
                                <tab heading="{{sensorItem.label}}" ng-repeat="(sensorKey, sensorItem) in deviceItem.sensors">
                                    <div ng-controller="sensorTempDSFamilyItemController" ng-init="init(sensorItem)">
                                        <div style="height:240px">
                                            <nvd3 options="options" data="sensor.chart"></nvd3>
                                        </div>
                                        <form name="formSensor" class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Status</label>
                                                <div class="col-lg-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i ng-class="sensor.isConnected ? 'text-success-dker' : 'text-danger-dker'" class="glyphicon glyphicon-off icon"></i>
                                                        </span>
                                                        <input type="text" class="form-control" readonly value="{{sensor.isConnected ? 'On-line' : 'Off-line'}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Temperatura</label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="form-control" readonly value="{{sensor.tempCelsius == null ? '' : convertTemperature(sensor.tempCelsius) | number : resolution.selectedResolution.decimalPlaces}} {{unitMeasurement.selectedUnitMeasurement.symbol}}">
                                                </div>
                                            </div>
                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Escalas</label>
                                                <div class="col-lg-8">
                                                    <select class="form-control m-b" ng-options="item.name for item in unitMeasurement.availableUnitMeasurements track by item.id" ng-model="unitMeasurement.selectedUnitMeasurement" ng-change="changeUnitMeasurement()"></select>
                                                </div>
                                            </div>
                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Resolução</label>
                                                <div class="col-lg-8">
                                                    <select class="form-control m-b" ng-options="item.name for item in resolution.availableResolutions track by item.id" ng-model="resolution.selectedResolution" ng-change="changeResolution()"></select>
                                                </div>
                                            </div>
                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Tem alarme alto</label>
                                                <div class="col-lg-8">
                                                    <div class="checkbox">
                                                        <label class="i-checks">
                                                            <input type="checkbox" ng-model="highAlarmView.alarmOn" ng-change="changeAlarmOn('Max', highAlarmView.alarmOn)"><i></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Tem buzzer alto</label>
                                                <div class="col-lg-8">
                                                    <div class="checkbox">
                                                        <label class="i-checks">
                                                            <input ng-disabled="!highAlarmView.alarmOn" type="checkbox" ng-model="highAlarmView.alarmBuzzerOn" ng-change="changeAlarmBuzzerOn('Max', highAlarmView.alarmBuzzerOn)"><i></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Alarme alto</label>
                                                <div class="col-lg-8">
                                                    <input name="inputHighAlarmValue"
                                                           type="number"
                                                           ng-model="highAlarmView.alarmValue"
                                                           ng-model-options="{ debounce: 1000 }"
                                                           ng-change="changeAlarmValue('Max', highAlarmView.alarmValue)"
                                                           min="{{sensorItem.sensorRange.min}}"
                                                           max="{{sensorItem.sensorRange.max}}"
                                                           ng-disabled="!highAlarmView.alarmOn"
                                                           required
                                                           class="form-control">
                                                    <span ng-show="formSensor.inputHighAlarmValue.$touched && formSensor.inputHighAlarmValue.$invalid">
                                                        Alarme alto deve estar entre {{sensorItem.sensorRange.min}}{{unitMeasurement.selectedUnitMeasurement.symbol}} e {{sensorItem.sensorRange.max}}{{unitMeasurement.selectedUnitMeasurement.symbol}}
                                                    </span>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Tem alarme baixo</label>
                                                <div class="col-lg-8">
                                                    <div class="checkbox">
                                                        <label class="i-checks">
                                                            <input type="checkbox" ng-model="lowAlarmView.alarmOn" ng-change="changeAlarmOn('Min', lowAlarmView.alarmOn)"><i></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Tem buzzer baixo</label>
                                                <div class="col-lg-8">
                                                    <div class="checkbox">
                                                        <label class="i-checks">
                                                            <input ng-disabled="!lowAlarmView.alarmOn" type="checkbox" ng-model="lowAlarmView.alarmBuzzerOn" ng-change="changeAlarmBuzzerOn('Min', lowAlarmView.alarmBuzzerOn)"><i></i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label">Alarme baixo</label>
                                                <div class="col-lg-8">
                                                    <input name="inputLowAlarmValue"
                                                           type="number"
                                                           ng-model="lowAlarmView.alarmValue"
                                                           ng-model-options="{ debounce: 1000 }"
                                                           ng-change="changeAlarmValue('Min', lowAlarmView.alarmValue)"
                                                           min="{{sensorItem.sensorRange.min}}"
                                                           max="{{sensorItem.sensorRange.max}}"
                                                           ng-disabled="!lowAlarmView.alarmOn"
                                                           required
                                                           class="form-control">
                                                    <span ng-show="formSensor.inputLowAlarmValue.$touched && formSensor.inputLowAlarmValue.$invalid">
                                                        Alarme baixo deve estar entre {{sensorItem.sensorRange.min}}{{unitMeasurement.selectedUnitMeasurement.symbol}} e {{sensorItem.sensorRange.max}}{{unitMeasurement.selectedUnitMeasurement.symbol}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                            <fieldset ng-controller="sensorUnitMeasurementScaleController" ng-init="init(sensorItem)">
                                                <div class="form-group">
                                                    <label class="col-lg-4 control-label">Limite do gráfico alto</label>
                                                    <div class="col-lg-8">
                                                        <input name="inputSensorUnitMeasurementScaleMax"
                                                               type="number"
                                                               ng-model="maxView"
                                                               ng-model-options="{ debounce: 1000 }"
                                                               ng-change="changeValue('Max', maxView)"
                                                               max="{{sensorItem.sensorRange.maxConverted}}"
                                                               min="{{sensorItem.sensorRange.minConverted}}"
                                                               required
                                                               class="form-control">
                                                        <span ng-show="formSensor.inputSensorUnitMeasurementScaleMax.$touched && formSensor.inputSensorUnitMeasurementScaleMax.$invalid">
                                                            Limite alto do gráfico deve estar entre {{sensorItem.sensorRange.minConverted}}{{sensorItem.unitMeasurement.symbol}} e {{sensorItem.sensorRange.maxConverted}}{{sensorItem.unitMeasurement.symbol}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-4 control-label">Limite do gráfico baixo</label>
                                                    <div class="col-lg-8">
                                                        <input name="inputSensorUnitMeasurementScaleMin"
                                                               type="number"
                                                               ng-model="minView"
                                                               ng-model-options="{ debounce: 1000 }"
                                                               ng-change="changeValue('Min', minView)"
                                                               max="{{sensorItem.sensorRange.maxConverted}}"
                                                               min="{{sensorItem.sensorRange.minConverted}}"
                                                               required
                                                               class="form-control">
                                                        <span ng-show="formSensor.inputSensorUnitMeasurementScaleMin.$touched && formSensor.inputSensorUnitMeasurementScaleMin.$invalid">
                                                            Limite baixo do gráfico deve estar entre {{sensorItem.sensorRange.minConverted}}{{sensorItem.unitMeasurement.symbol}} e {{sensorItem.sensorRange.maxConverted}}{{sensorItem.unitMeasurement.symbol}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </tab>
                            </tabset>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>