<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Hardwares</h1>
</div>
<div class="wrapper-md" ng-controller="hardwaresInApplicationJoinController">

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">Procurar hardware</div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Pin</label>
                            <input type="text" class="form-control" maxlength="4" placeholder="Entre com o número do Pin" ng-model="pin">
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary" ng-click="onSearchClick()">Procurar</button>
                    </form>
                </div>
            </div>
        </div>        
    </div>

</div>