<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net47" />
  <package id="AutoMapper" version="6.1.1" targetFramework="net47" />
  <package id="Automatonymous" version="3.5.11" targetFramework="net47" />
  <package id="GreenPipes" version="1.0.9" targetFramework="net47" />
  <package id="MassTransit" version="3.5.7" targetFramework="net47" />
  <package id="MassTransit.Autofac" version="3.5.7" targetFramework="net47" />
  <package id="MassTransit.Automatonymous.Autofac" version="3.5.7" targetFramework="net47" />
  <package id="NewId" version="3.0.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net47" />
</packages>