<form name="form" class="form-horizontal form-validation" ng-controller="deviceBinaryController" ng-init="init(device.deviceBinary)">
    <div class="form-group">
        <label class="col-lg-4 control-label">Create date</label>
        <div class="col-lg-8">
            <input type="text" class="form-control" readonly ng-model="deviceBinary.createDate">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">Version</label>
        <div class="col-lg-8">
            <input type="text" class="form-control" readonly ng-model="deviceBinary.version">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">Update date</label>
        <div class="col-lg-8">
            <input type="text" class="form-control" readonly ng-model="deviceBinary.updateDate">
        </div>
    </div>
</form>