<tabset class="tab-container">
    <tab heading="Serial{{deviceSerialItem.index}}" data-ng-repeat="(deviceSerialKey, deviceSerialItem) in device.deviceSerial">
        <form name="form" class="form-horizontal form-validation" ng-controller="deviceSerialController" ng-init="init(deviceSerialItem)">
            <div class="form-group">
                <label class="col-lg-4 control-label">Enabled</label>
                <div class="col-lg-8">
                    <div class="checkbox">
                        <label class="i-checks">
                            <input type="checkbox" ng-model="enabledView" ng-model-options="{ debounce: 1000 }" ng-change="changeEnabled()"><i></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="deviceSerialItem.hasRX">
                <label class="col-lg-4 control-label">Pino RX</label>
                <div class="col-lg-8">
                    <input name="inputPinRX" type="number" ng-model="deviceSerialItem.pinRX" ng-model-options="{ debounce: 1000 }" ng-change="changePin()" min="0" required ng-disabled="deviceSerialItem.allowPinSwapRX === null || !deviceSerialItem.allowPinSwapRX" class="form-control">
                </div>
                <span ng-show="form.inputPinRX.$touched && form.inputPinRX.$invalid">
                    Pino RX deve ser maior que 0
                </span>
            </div>
            <div class="form-group" ng-show="deviceSerialItem.hasTX">
                <label class="col-lg-4 control-label">Pino TX</label>
                <div class="col-lg-8">
                    <input name="inputPinTX" type="number" ng-model="deviceSerialItem.pinTX" ng-model-options="{ debounce: 1000 }" ng-change="changePin()" min="0" required ng-disabled="deviceSerialItem.allowPinSwapTX === null || !deviceSerialItem.allowPinSwapTX" class="form-control">
                </div>
                <span ng-show="form.inputPinTX.$touched && form.inputPinTX.$invalid">
                    Pino TX deve ser maior que 0
                </span>
            </div>
        </form>
    </tab>
</tabset>