<tabset class="tab-container">
    <tab heading="Serial{{deviceSerialItem.index}}" data-ng-repeat="(deviceSerialKey, deviceSerialItem) in device.deviceSerial">
        <form name="form" class="form-horizontal form-validation" ng-controller="deviceSerialController" ng-init="init(deviceSerialItem)">
            <div class="form-group">
                <label class="col-lg-4 control-label">Enabled</label>
                <div class="col-lg-8">
                    <div class="checkbox">
                        <label class="i-checks">
                            <input type="checkbox" ng-model="enabledView" ng-model-options="{ debounce: 1000 }" ng-change="changeEnabled()"><i></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">RX</label>
                <div class="col-lg-8">
                    <div class="checkbox">
                        <label class="i-checks">
                            <input type="checkbox" ng-model="deviceSerialItem.hasRX" disabled><i></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">TX</label>
                <div class="col-lg-8">
                    <div class="checkbox">
                        <label class="i-checks">
                            <input type="checkbox" ng-model="deviceSerialItem.hasTX" disabled><i></i>
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </tab>
</tabset>