<div class="panel panel-default" ng-controller="deviceController" ng-init="init(deviceItem)">

    <div class="panel-heading font-bold" ng-bind="device.label"></div>

    <div class="panel-body">

        <form name="form" class="form-horizontal form-validation">
            <div class="form-group">
                <label class="col-lg-4 control-label">Modelo</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="deviceItem.deviceDatasheet().name" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label">Status</label>
                <div class="col-lg-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i ng-class="device.isConnected ? 'text-success-dker' : 'text-danger-dker'" class="glyphicon glyphicon-off icon"></i>
                        </span>
                        <input type="text" class="form-control" readonly value="{{device.isConnected ? 'On-line' : 'Off-line'}}">
                    </div>
                </div>
            </div>                     
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
                <label class="col-lg-4 control-label">Rótulo</label>
                <div class="col-lg-8">
                    <input name="inputLabel" type="text" class="form-control" ng-model="deviceLabel" ng-model-options="{ debounce: 1000 }" ng-change="changeLabel()" required>
                    <span ng-show="form.inputLabel.$touched && form.inputLabel.$invalid">
                        Rótulo é requerido
                    </span>
                </div>
            </div>
        </form>

        <tabset class="tab-container">
            <tab heading="WiFi">
                <div data-ng-include=" 'views/device/deviceWiFi.html' "></div>
            </tab>
            <tab heading="NTP">
                <div data-ng-include=" 'views/device/deviceNTP.html' "></div>
            </tab>
            <tab heading="MQ">
                <div data-ng-include=" 'views/device/deviceMQ.html' "></div>
            </tab>
            <tab heading="Binary">
                <div data-ng-include=" 'views/device/deviceBinary.html' "></div>
            </tab>
            <tab heading="Serial">
                <div data-ng-include=" 'views/device/deviceSerial.html' "></div>
            </tab>
            <tab heading="Debug">
                <div data-ng-include=" 'views/device/deviceDebug.html' "></div>
            </tab>
        </tabset>

        <div data-ng-include=" 'views/device/deviceSensor.html' "></div>

        <div data-ng-include=" 'views/device/sensorInDevice.html' "></div>

    </div>
</div>

