<form name="form" class="form-horizontal form-validation" ng-controller="deviceSensorsController" ng-init="init(deviceItem.deviceSensors)">
    <div class="form-group">
        <label class="col-lg-4 control-label">Publish interval in seconds</label>
        <div class="col-lg-8">
            <input name="inputPublishIntervalInSeconds" type="number" ng-model="publishIntervalInSecondsView" ng-model-options="{ debounce: 1000 }" ng-change="changePublishIntervalInSeconds()" min="5" required class="form-control">
        </div>
        <span ng-show="form.publishIntervalInSecondsView.$touched && form.publishIntervalInSecondsView.$invalid">
            Publish Interval In Seconds deve ser maior que 5
        </span>
    </div>
</form>