<form name="form" class="form-horizontal form-validation" ng-controller="deviceWiFiController" ng-init="init(device.deviceWiFi)">
    <div class="form-group">
        <label class="col-lg-4 control-label">Host Name</label>
        <div class="col-lg-8">
            <input name="inputHostName" type="text" ng-model="hostNameView" ng-model-options="{ debounce: 1000 }" ng-change="changeHostName()" required class="form-control">
        </div>
        <span ng-show="form.inputHostName.$touched && form.inputHostName.$invalid">
            Host name requerido
        </span>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">Local IP Address</label>
        <div class="col-lg-8">
            <input type="text" class="form-control" readonly uppercased ng-model="device.localIPAddress">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">Wifi Quality</label>
        <div class="col-lg-8">
            <input type="text" class="form-control" readonly uppercased ng-model="device.wifiQuality">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label">Publish interval in milli seconds</label>
        <div class="col-lg-8">
            <input name="inputPublishIntervalInMilliSeconds" type="number" ng-model="publishIntervalInMilliSecondsView" ng-model-options="{ debounce: 1000 }" ng-change="changePublishIntervalInMilliSeconds()" min="5" required class="form-control">
        </div>
        <span ng-show="form.publishIntervalInMilliSecondsView.$touched && form.publishIntervalInMilliSecondsView.$invalid">
            Publish Interval In Seconds deve ser maior que 5
        </span>
    </div>
</form>