<div ng-controller="sensorInDeviceController" ng-init="init(deviceItem.deviceSensor.sensorInDevice)">

    <div>

        <ul data-as-sortable="dragControlListeners" data-ng-model="sensorInDevice" class="sortable-custom-ul panel-group">

            <li data-ng-repeat="(sensorInDeviceKey, sensorInDeviceItem) in sensorInDevice" data-as-sortable-item class="panel panel-default">
        
                <div as-sortable-item-handle class="panel-heading" ng-init="sensorInDeviceItem.isOpen = false">
                    <h4 class="panel-title">
                        <span class="sortable-custom-title">{{sensorInDeviceItem.sensor().label}}</span>
                        <a ng-click="sensorInDeviceItem.isOpen = !sensorInDeviceItem.isOpen">
                            <i class="pull-right fa ng-scope fa-angle-right" ng-class="{'fa-angle-down': sensorInDeviceItem.isOpen, 'fa-angle-right': !sensorInDeviceItem.isOpen}"></i>
                        </a>
                    </h4>
                </div>

                <div ng-show="sensorInDeviceItem.isOpen" class="panel-body sortable-body-show-hide">
                    
                    <div data-ng-include=" 'views/sensor/sensor.html' "></div>                   

                </div>
            </li>

        </ul>

    </div>

</div>