<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Beauty Your Data</h1>
</div>
<div class="wrapper-md">
    <div ng-controller="termometroController">

        <div class="row">
            <div class="nickname_container" id="nick">
                <span>Type your nickname:</span>
                <form id="submit"><input type="text" id="nickname" /></form>
            </div>
            <div id="chat" hidden>
                <div class="menu" =>
                    <div class="name" id="name">Alex</div>
                    <div class="last" id="time">18:09</div>
                </div>
                <ol class="chat"></ol>
                <input class="textarea" type="text" placeholder="Type here!" id="textarea" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Spline</div>
                    <div class="panel-body">
                        <div style="height:240px">
                            <nvd3 options="options" data="data"></nvd3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Multiple</div>
                    <div class="panel-body">
                        <div style="height:240px">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>